<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= t("steps.summary") %>
    </h1>

    <%= form_with(model: @summary, url: new_school_submission_path, local: true) do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :email_address %>

      <%= govuk_summary_list(rows: @summary.rows) %>

      <%= f.govuk_submit "Submit" %>
    <% end %>
  </div>
</div>
